* {
    box-sizing: border-box;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar {
    height: 120px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar div {
    height: 120px;
    width: 250px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 28px;
    padding-bottom: 0;
}

.navbar-brand {
    font-size: 40px !important;
    margin-left:55px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aqua;
}
.nav-link {
    color: white !important;
}

.bg-secondary {
    background-color: aqua !important;
}
.nav-section {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.sud {
    height: 72px;
    width: 500px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: rgb(119, 69, 4);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer {
    height: 60px;
    width: 100%;
    margin-bottom: 0px;
    background-image: url("../images/footer-strip-background.jpg");
    background-size: cover;
    background-position: center;
}

.solid {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.para_color {
    color:rgb(119, 69, 4);
}